.container {
   min-height: 100vh;
   padding: 0;
   margin: 0;
   background-image: url('/images/wallpaper.png');
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header{
   padding: 40px 75px 60px 75px;

}

.headerItems{
   list-style-type: none;
   display: flex;
   align-items: center;
}

.headerItems li{
   font-family: 'Alegreya', sans-serif;
   color: #FFF;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
   margin-right: 48px;
   cursor: pointer;
   transition: 0.1s;
}

.headerItems li:hover{
   color: #fff;
   text-shadow:
	 0 0 7px #fff,
	 0 0 10px #fff,
	 0 0 21px #fff,
	 0 0 42px #00ffaa38,
	 0 0 82px #00ffaa38,
	 0 0 92px #00ffaa38,
	 0 0 102px #00ffaa38,
	 0 0 151px #00ffaa38;
}

.sectionInitial{
	padding-left: 64px;
	display: flex;
}

.sectionInitial h1{
	font-family: 'Nosifer', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: clamp(37px, 5vw, 125px);
	line-height: 143px;
	letter-spacing: 0.05em;
	color: #5FE117;
}

.sectionInitial p{
	font-family: 'Alegreya', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.scaryImage{
	background-image: url('/images/scaryImage.png');
	height: 80vh;
	width: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.buttonGreen{
	background: #72ED2F !important;
	box-shadow: 4px 5px 19px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	font-family: 'Alegreya', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	margin-top: 117px;
}

.buttonContainer{
	display: flex;
	margin: 70px 0;
}

.buttonContainer button{
	margin-right: 33px;
	height: 64px;
	width: 182px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonContainer button img{
	margin-right: 16px;
}
